<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue 3 + Firebase</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div v-show="showBooks">
        <p>{{ books[0].title }} - {{ books[0].author}}</p>
        <p>{{ books[1].title }} - {{ books[1].author}}</p>
        <p>{{ books[2].title }} - {{ books[2].author}}</p>
      </div>

      <br />

      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
